@import "../../styles/media-queries.scss";

.instagram-block{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 0;

    @media (max-width: $breakpoint-tablet) {
        padding: 7rem 0;
    }

    @media (max-width: $breakpoint-phone) {
        padding: 6rem 0;
    }


    .instagram-intro{
        align-items: center;
        color: $primary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;


        .instagram-headline{
            color: $light-gray-color;
            margin-top: 1rem;
        }

        &.head{
            margin-bottom: 1.5rem;
        }

        &.foot{
            margin-top: 1.75rem;
        }

        a{
            text-decoration: none;

            &:hover{
                .insta-link{
                    .insta-icon{
                        svg{
                            transition: $transition;
                            path{
                                transition: $transition;
                                fill: $insta-color;
                            }
                            
                        }
                    }
                    .insta-profile{
                        background: radial-gradient(circle at 20% 107%, #fd5949 0%, #d6249f 50%, #285AEB 90%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: $transition;
                    }
                }
                
            }

            .insta-link{
                align-items: center;
                display: flex;
                position: relative;
                flex-direction: row;
                transition: $transition;

                .insta-icon{
                    margin-bottom: -0.125rem;
                    margin-right: 0.375rem;
                    position: relative;
                    transition: $transition;
                    height: 1.25rem;
                    width: 1.25rem;
                }
    
                .insta-profile{
                   color: $light-gray-color;
                   margin-top: -0.0675rem;
                   transition: $transition;
                }
            }
        }    
    }

    .instagram-pics{
        display: flex;
        justify-content: center;
        max-width: 90%;
        flex-wrap: wrap;
        transition: $transition;

        .insta-link{
            margin: 0.5rem;
            min-height: 10rem;
            min-width: 10rem;
            position: relative;
            transition: $transition;

            &:hover{
                box-shadow: $box-shadow;
                .dark-blue-tint{
                    background: rgba(88,125,113,0.08);
                }
            }
        }
    }
}