.couples-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .couple{
        cursor: pointer;
        justify-content: center;
        margin: 2rem 2.5rem 3rem 2.5rem;
        max-width: 16rem;
        text-align: center;
        width: 50%;

        &:hover{
            .couple-image{
                .light-blue-tint{
                    background: rgba(157,179,195,0.2);
                }
            }
        }

        .couple-image{
            position: relative;
        }

        h2{
            font-size: 2.25rem;
            margin: 1.25rem 0 0 0;
        }
    }
}