header{
    position: absolute;
    z-index: 3;
    width: 100%;

    .nav{
        display: flex;
        align-items: space-between;
        justify-content: space-between;
        padding: 1rem 1.5rem;

        .page-options{
            display: flex;
            flex-direction: row;
            margin: 1.5rem 1.5rem;

            a{
                color: white;
                padding: 0.5rem;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

