.couples-headline{
    font-family: "Great Vibes" !important;
    font-size: 2.25rem;
    margin: 0.75rem 0;
}

.couples-grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 3.5%;
    padding: 0 3.5%;
}