.primary-block{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    justify-content: center;
    text-align: center;

    .primary-header{
        color: #E9CDCE;
    }

    .primary-intro{
        color: #C0C0C0;
        max-width: 40rem;
        width: 90%;
    }
}