@import "../../styles/media-queries.scss";

.intro-block{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 6rem 0 6rem 0;
    justify-content: center;
    text-align: center;

    @media (max-width: $breakpoint-tablet) {
        margin: 5rem 0 5rem 0;
    }

    @media (max-width: $breakpoint-phone) {
        margin: 4.5rem 0 2.5rem 0;
    }

    .intro-text{
        color: #999999;
        max-width: 40rem;
        width: 90%;

        @media (max-width: $breakpoint-tablet) {
            width: 80%;
        }

        @media (max-width: $breakpoint-phone) {
            width: 80%;
        }
    }
    
    .divider{
        background: #EEEEEE;
        height: 0.0675rem;
        margin: 5rem 0 0 0;
        max-width: 18.75rem;
        width: 75%;

        @media (max-width: $breakpoint-tablet) {
            margin: 4.5rem 0 0 0;
        }

        @media (max-width: $breakpoint-phone) {
            margin: 4rem 0 0 0;
            width: 65%;
         }
    }
}


