@import "../../styles/media-queries.scss";

.footer{

    .footer-main{
        align-items: center;
        box-sizing: content-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 12rem;
        padding: 4rem 0;
        margin: 0 auto;
        max-width: 62rem;
        position: relative;
        width: 90%;

        @media (max-width: $breakpoint-phone) {
            flex-direction: column;
            height: auto;
            padding: 4rem 0 2rem 0;
        }
    
        .ebm-logo-box{
            align-items: center;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media (max-width: $breakpoint-phone) {
                top: 0;
                left: 0;
                position: relative;
                transform: translate(0,0);
            }
        }

        .who-box{
            color: $light-gray-color;
            max-width: 12rem;
            width: 30%;

            @media (max-width: $breakpoint-phone) {
               text-align: center;
               margin: 2rem auto 1rem auto;
               max-width: 20rem;
               width: 70%;
            }
        }    
    
        .contact-box{
            display: flex;
            min-width: -webkit-min-content;
            flex-direction: column;
            text-align: left;
            width: 30%;

            @media (max-width: $breakpoint-phone) {
                text-align: center;
                width: 70%;
            }
    
            .contact{
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                margin: 0.125rem 0 0.125rem auto;

                @media (max-width: $breakpoint-phone) {
                    display: block;
                    margin: 0.125rem auto;
                    text-align: center;
                    width: 70%;
                }

                &.social{
                    margin-right: -0.5rem;
                    @media (max-width: $breakpoint-phone) {
                        margin: 0.5rem auto;
                    }
                }
    
                .contact-text{
                    color: $light-gray-color;
                    display: inline-block;
                    margin-left: 0.375rem;
                    position: relative;
                    
                    &:before{
                        position: relative;
                        transition: $transition;
                    }
                    &:after{
                        opacity: 0;
                        position: absolute;
                        right: 0;
                        transition: $transition;
                        white-space: nowrap;
                        pointer-events: none;
                    }

                    @media (min-width: $breakpoint-phone) {
                        &:hover{
                            &:before{
                                opacity: 0;
                            }
                            &:after{
                                opacity: 1; 
                                pointer-events: all;
                            }
                        }
                    }

                    &.phone{
                        &:before{
                            content: 'give us a call';

                            @media (max-width: $breakpoint-phone) {
                                content: '240-760-8649';
                            }
                        }
                        &:after{
                            content: '240-760-8649';
                        }
                    }
                    &.email{
                        &:before{
                            content: 'send us a message';

                            @media (max-width: $breakpoint-phone) {
                                content: 'hello@eventsbymosaic.com';
                            }
                        }
                        &:after{
                            content: 'hello@eventsbymosaic.com';
                        }
                    }
                } 

                .social-link{
                    display: inline-block;
                    padding: 0.25rem;
                    height: 1.25rem;
                    margin: 0 0.25rem;

                    &.instagram{
                        &:hover{
                            .footer-logo-color{
                                fill: $insta-color;
                            }
                        }
                    }
                    &.facebook{
                        &:hover{
                            .footer-logo-color{
                                fill: $fb-color;
                            }
                        }
                    }
                    &.pinterest{
                        &:hover{
                            .footer-logo-color{
                                fill: $pinterest-color;
                            }
                        }
                    }
                }
            }  
        }
    }
    
    .footer-sub{
        padding: 0.625rem;

        .copyright-box{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
    
            .copyright{
                color: $light-gray-color;
                font-size: 0.625rem;
                letter-spacing: 0.125rem;
                margin: 0;
            }

            .pipe{
                background: $light-gray-color;
                height: 0.75rem;
                margin: 0 0.5625rem 0 0.5rem;
                width: 1px;
            }
        }
    }

}

