.connectCTA-block{
    color: white;
    display: flex;
    justify-content: center;
    min-height: 32rem;
    position: relative;

    .cta-background{
        position: absolute;
        width: 100%;
    }

    .connect-info{
        left: 50%;
        top: 50%;
        max-width: 44rem;
        position: absolute;
        width: 90%;
        z-index: 1;
        text-align: center;
        transform: translate(-50%, -50%);

        .connect-button{
            background: #F9AFB5;
            border: 0.125rem solid #F9AFB5;
            border-radius: 0.125rem;
            color: white;
            cursor: pointer;
            margin-top: 1.5rem;
            padding: 0.75rem 1.75rem;
            transition: all 0.1s;

            &:hover{
                background: white;
                border: 0.125rem solid white;
                color: #F9AFB5;
            }
        }
    }
}