@import "../../styles/media-queries.scss";

.connectCTA-block{
    color: $white;
    display: flex;
    justify-content: center;
    min-height: 32rem;
    position: relative;

    @media (max-width: $breakpoint-tablet) {
        min-height: 30rem;
    }

    @media (max-width: $breakpoint-phone) {
        min-height: 28rem;
    }

    .cta-background{
        position: absolute;
        width: 100%;
    }

    .connect-info{
        left: 50%;
        top: 50%;
        max-width: 44rem;
        position: absolute;
        width: 90%;
        z-index: 1;
        text-align: center;
        transform: translate(-50%, -50%);

        h1{
            text-shadow: $text-shadow;
        }

        .connect-button{
            background: $white;
            border: none;
            border-radius: 0.125rem;
            color: $secondary-color;
            cursor: pointer;
            margin-top: 1.5rem;
            padding: 0.75rem 1.75rem;
            transition: $transition;

            &:hover{
                background: $primary-color;
                color: $white;
            }
        }
    }
}