@import "../../styles/media-queries.scss";

.testimonial-block{
    align-content: center;
    background: #587D71;
    display: flex;
    justify-content: center;
    padding: 6rem 0;
    text-align: center;

    @media (max-width: $breakpoint-tablet) {
        padding: 5.5rem 0;
    }

    @media (max-width: $breakpoint-phone) {
        padding: 5rem 0;
    }

    .testimonial-inner{
        align-items: center;
        color: white;
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 44rem;
        width: 90%;

        .quote-image{
            width: 2rem;
        }

        .quote-holder{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1.25rem 0 0.5rem 0;
            min-height: 9rem;
        }

        .client-name{
            font-style: italic;
            opacity: 0.9;
        }
    }
}